body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    text-align:center;
}
.box
{
    display: inline-block;
    width: 400px;
} 

#Tablaprincipal
{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.SeparadorFila
{
    width: 100%;
    height: 20px;
}

.CeldaTitulo
{
    width: 100;
    text-align: center;
}

.CeldaLabel
{
    text-align: left;
}

.Titulo
{
    font-size: 12pt;
    font-style: normal;
}

.Label
{
    font-family: 'Courier New', Courier, monospace;
}

.TextBox
{
    width: 100%;
    height: 25px;
}

.Button
{
    width: 130px;
    height: 30px;
    font-size: 14px;
}